extends home.pug

block user
    div.container-fluid
        div.row
        h1 Listado de Productos.
        form(method="GET" action="/addprod")            
            input.btn.btn-success(type="submit", value="Agregar")
        -if(data.length)
            table.table.table-striped
                thead.thead-dark
                    tr
                        th Id
                        th Nombre
                        th Descripcion
                        th Precio
                        th Cantidad
                        th Foto
                        th(colspan="3")                         
                    each productos in data
                        tr
                            td(scope="col")=productos.id
                            td(scope="col")=productos.nombre
                            td(scope="col")=productos.descripcion
                            td(scope="col")=productos.precio
                            td(scope="col")=productos.cantidad
                            td(scope="col")=productos.foto1
                            td(scope="col")
                                img.imagen(src="/static/archivos/" + productos.foto1, alt="Foto del Producto")
                            td(scope="col")
                                img.imagen(src="/static/archivos/" + productos.foto2, alt="Foto del Producto")
                            td(scope="col")
                                img.imagen(src="/static/archivos/" + productos.foto3, alt="Foto del Producto")
                            td(scope="col")
                                form(method="GET" action="/editprod/" + productos.id)            
                                    input.button.btn.btn-primary( type="submit", value="Editar")
                            td(scope="col") 
                                form(method="POST" action="/deleteProd/" + productos.id + '?_method=DELETE')           
                                    input.button.btn.btn-danger(type="submit", value="Eliminar")
        -else
            p.error No existen Productos en la Base de Datos.

             //+ usuarios.id 